body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

.form-container, .login-container {
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
}

content {
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    font-size: 14px;
}
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: center;
}

button {
    cursor: pointer;
}
